<h1><%= @allergen.name %></h1>

<ul>
	<% @allergen.ingredients.each do |ingredient| %>
	
	
		<li><a href="<%= ingredient_url(ingredient.id) %>"><%= ingredient.name %></a></li> <!-- link to allergin show page eventually -->
	
	<% end %>
</ul>

<h2>Add Ingredients that <%= @allergen.name %> is found in</h2>
<form action="<%= allergen_allergen_ingredient_links_url(@allergen.id) %>" method="post">
	<%= auth_token %>

  <div class="input">
    <label for="ingredient-name">Ingredient</label>		
    <input type="text" id="ingredient-name" name="ingredient[name]" value="">
	</div>
	

  <div class="submit">
    <input type="submit" value="Submit">
  </div>
</form>