<h1><%= @ingredient.name %></h1>

<ul>
	<% @ingredient.allergens.each do |allergen| %>
	
	
		<li><a href="<%= allergen_url(allergen.id) %>"><%= allergen.name %></a></li> <!-- link to allergin show page eventually -->
	
	<% end %>
</ul>

<h2>Add Possible Allergens</h2>
<form action="<%= ingredient_allergen_ingredient_links_url(@ingredient.id) %>" method="post">
	<%= auth_token %>

  <div class="input">
    <label for="allergen-name">Allergen</label>		
    <input type="text" id="allergen-name" name="allergen[name]" value="">
	</div>
	

  <div class="submit">
    <input type="submit" value="Submit">
  </div>
</form>
	